.gitconfig
.ssh
*config/autostart/
*config/chromium/
*config/Mailspring/
*config/Optolyth/
*config/pulse/
*config/spotify/
*config/SuperCollider/
*config/unity3d/
*config/vlc/
suckless/
vim/plugged/*
